{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <header>
        <h1>Latest News</h1>
        <p>Checkout if friday fit checks are coming to your campus https://www.instagram.com/plaatestudios?igsh=dGprdThraTRvOTBp</p>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'add_skill' %}">Add Skill</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
